*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

}

:root {
  --ff-primary: 'Lora', serif;
  --ff-secondary: 'Roboto Slab', serif;
  
  --fw-reg: 400;
  --fw-bold: 700;
  
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #d15858;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}



body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}


.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  height: 400px;
  width: 400px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}